alias school='ssh dic14man@login.student.lth.se'
alias raspberry="ssh pi@31.208.79.219"

alias o='xdg-open'

alias ls='ls --color=auto'
alias la='ls -a'
alias please='sudo $(fc -ln -1)'

alias gs='git status'
alias switch='git checkout'

alias grep='grep -rinHI --color=auto'
alias vim="nvim"

alias courses='cs ~/Documents/Courses'

alias Multicore='cs ~/Documents/EDAN26'
alias neovim="cs ~/Documents/neovim/"
alias AI="cs ~/Documents/EDAF70/"
alias IP="cs ~/Documents/EITN30/"
alias Haskell="cs ~/Documents/haskell/"

alias Linus="ssh i2grp04@linus.lab.eit.lth.se"

alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'


