alias school='ssh dic14man@login.student.lth.se'
alias raspberry="ssh pi@31.208.79.219"

alias o=open

open(){
	xdg-open $@ > /dev/null &
}

alias ls='ls --color=auto'
alias la='ls -a'
alias please='sudo $(fc -ln -1)'

alias gs='git status'
alias gd='git diff'
alias gd='git commit --amend'
alias switch='git checkout'

alias grep='grep --color=auto'
alias vi="nvim"
alias vim="nvim"
alias less="nvim -R"

alias blackpi="ssh pi@192.168.0.30"
alias whitepi="ssh pi@192.168.0.29"
alias J="cd ~/Documents/James/src/"

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias server='ssh johan@217.210.198.32'

alias cast='ffmpeg -f x11grab -video_size 3200x1800 -framerate 25 -i $DISPLAY -c:v ffvhuff screen.mkv'




chroot () {
	sudo systemd-nspawn -bD $1 -E TERM=xterm
}

alias scu='cd ~/Documents/ubiquitous-pancake/SCU/'


filter (){
	grep --color -E "$(for i in "$@"; do printf "%s|" $i; done)^"
}

