
follow(){
    tail -f /var/log/socklog/$1/current
}

open(){
    xdg-open $@ > /dev/null &
}

alias ls='ls --color=auto'
alias la='ls -a'
alias please='sudo $(fc -ln -1)'

alias gs='north status'
alias gd='git diff'
alias switch='git checkout'

alias grep='grep --color=auto'
alias vi=run_nvim 
alias vim="nvim"

alias cfg='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

run_nvim (){
	if [ -d $1 ]; then
		nvim "$@" -c term  -c "Explore $1"
	else 
		nvim "$@" -c term  -c "buffer $1"
	fi 
}

chroot (){
    sudo systemd-nspawn -bD $1 -E TERM=xterm --bind-ro=/dev/random --bind-ro=/dev/urandom
}

login() {
    lxc-attach -n $1 -v TERM=xterm
}

lightup (){
    arr=("0;31" "1;36" "0;34" "0;36" "0;37" "0;32")
        reset='\e[0m'
        res=""
        indx=0
        for i in "$@"; do 
            color=$(printf %s%s%s '\e[' ${arr[indx % ${#arr[@]}]} 'm')
                res=$res"sed 's/$i/$(printf $color)$i$(printf $reset)/g' | "
                ((indx++))
                done 
                eval $res less -r
}

comms() {
    sudo picocom /dev/tty$1 -b115200
}

battery(){
    cat /sys/class/power_supply/BAT0/capacity
}

cd() { builtin cd "$@" && ls ; }
