!! Appearance
urxvt.scrollBar: false
URxvt*transparent: true
URxvt*shading: 175
URxvt*foreground: #657b83
URxvt*background: #002b36
URxvt*saveLines: 1000
Xft.DPI: 244
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
urxvt.letterSpace: -1
urxvt.font: xft:DejaVu Sans Mono:pixelsize=20

rofi.lines:           5
rofi.font:            Ubuntu 32
rofi.bw:              0
rofi.padding:         500
rofi.matching:        fuzzy
rofi.separator-style: none
rofi.hide-scrollbar:  true
rofi.show-icons:      true
! rofi.drun-icon-theme: ePapirus
!
! !   #282c34
! !   #404552
! !   #383c4a
! !   #4b5162
! !   #5294e2
! !   #7c818c
! !   #abb2bf
!
!
! ! State:           'bg',          'fg',          'bgalt',        'hlbg',
! 'hlfg'
 rofi.color-normal: argb:FF282c34, argb:FF7c818c, argb:FF282c34, argb:00383c4a, argb:FFabb2bf
 rofi.color-urgent: argb:FF282c34, argb:ffdc322f, argb:FF282c34, argb:00dc322f, argb:ffdc322f
 rofi.color-active: argb:FF282c34, argb:ff5294e2, argb:FF282c34, argb:005294e2, argb:ff5294e2
!
! !                  'background',  'border',      'separator'
 rofi.color-window: argb:80282c34, argb:80282c34, argb:80282c34
